@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-gray1000: #2f2f2f;
    --color-gray900: #454545;
    --color-gray800: #595959;
    --color-gray700: #727272;
    --color-gray600: #979797;
    --color-gray500: #bfbfbf;
    --color-gray400: #d4d4d4;
    --color-gray300: #e4e4e4;
    --color-gray200: #efefef;
    --color-gray100: #f7f7f7;

    --color-main: #30e4b2;
    --color-badge-green: #a4ffe6;
    --color-badge-green-dark: #39685b;
    --color-text-green: #009d71;
    --color-red: #ff436c;
    --color-badge-red: #ffa6b9;
    --color-badge-red-dark: #713a46;
    --color-text-red: #c00105;
}

:root {
    --text-color: var(--color-gray1000);
}
.dark {
    --text-color: white;
}

body {
    color: var(--text-color);
    font-family: var(--font-pretendard), sans-serif;
    animation-duration: 200ms;
    font-weight: 500;
}

* {
    transition-duration: 200ms;
}

button {
    cursor: pointer;
}

.logo {
    font-family: var(--font-sebang-gothic), sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}
