@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-gray1000: #2f2f2f;
    --color-gray900: #454545;
    --color-gray800: #595959;
    --color-gray700: #727272;
    --color-gray600: #979797;
    --color-gray500: #bfbfbf;
    --color-gray400: #d4d4d4;
    --color-gray300: #e4e4e4;
    --color-gray200: #efefef;
    --color-gray100: #f7f7f7;

    --color-main: #1ad7a2;
    --color-main-dark: #30e4b2;
    --color-badge-green: #a4ffe6;
    --color-badge-green-dark: #39685b;
    --color-text-green: #009d71;
    --color-hover-green: #1dd09e;
    --color-hover-green-dark: #72f4cf;

    --color-red: #ff436c;
    --color-badge-red: #ffa6b9;
    --color-badge-red-dark: #713a46;
    --color-text-red: #c00105;

    --color-neople: #fabe00;
}

:root {
    --text-color: var(--color-gray1000);
}
.dark {
    --text-color: white;
}

* {
    transition-duration: 200ms;
}
body {
    color: var(--text-color);
    font-family: var(--font-pretendard), sans-serif;
}
button {
    cursor: pointer;
}
h1 {
    font-size: var(--text-5xl);
    font-family: var(--font-sebang-gothic), sans-serif;
}
h2 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
}
h3 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
}
h4 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
}

.logo {
    font-family: var(--font-sebang-gothic), sans-serif;
}

@layer components {
    .t-main {
        @apply text-main  dark:text-main-dark;
    }
    .b-main {
        @apply bg-main dark:bg-main-dark;
    }
}

*::-webkit-scrollbar {
    display: none;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
